{:kotoba.app/id "cloud.itonami.isic-4653", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibpuygcyvi6qqkpqib2p55w5kptbumw545rbuyr3gcmsjckbgm3qu", :kotoba.app/embed-url "ipfs://bafkreibpuygcyvi6qqkpqib2p55w5kptbumw545rbuyr3gcmsjckbgm3qu", :published {:archive "https://kotobase.net/ipfs/bafkreibpuygcyvi6qqkpqib2p55w5kptbumw545rbuyr3gcmsjckbgm3qu", :size 72995, :put-status 201, :get-status 200, :at "2026-08-15T13:50:44.817Z"}}
